/* Default styles for light theme */
body {
    background-color: white;
    color: black;
    font-family: sans-serif;
}
label {
    font-weight: bold;
}

/* Dark theme styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}

